{% extends "base.html" %}

{% block title %}Examiner Dashboard{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col">
        <h2 class="fw-bold">Examiner Dashboard</h2>
        <p class="text-muted">
            Manage your exams
        </p>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">

        <div class="table-responsive ">
            <table class="table table-striped align-middle ">
                <thead class="table-dark">
                    <tr>
                        <th>Exam</th>
                        <th>Status</th>
                        <th>Duration</th>
                        <th class = "text-center">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for exam in exams %}
                        <tr>
                            <td><strong>{{ exam.title }}</strong></td>

                            <td>
                                {% if exam.status == 'DRAFT' %}
                                    <span class="badge bg-secondary">Draft</span>
                                {% elif exam.status == 'LIVE' %}
                                    <span class="badge bg-success">Live</span>
                                {% else %}
                                    <span class="badge bg-danger">Closed</span>
                                {% endif %}
                            </td>

                            <td>
                                {{ exam.duration_minutes }} min
                            </td>

                            <td>
                            <div class="d-flex justify-content-center gap-3">
                                {% if exam.status == 'DRAFT' %}
                                    <a href="{% url 'upload_question' exam.id %}"
                                       class="btn btn-sm btn-outline-success">
                                        Upload Questions
                                    </a>

                                    <a href="/admin/exam/exam/{{ exam.id }}/change/"
                                       class="btn btn-sm btn-outline-warning">
                                        Edit Exam
                                    </a>

                                    <a href="{% url 'examiner_exam_submissions' exam.id %}"
                                    class="btn btn-sm btn-outline-info">
                                         View Submissions
                                    </a>
                                {% else %}
                                    <span class="text-muted">
                                        Locked
                                    </span>
                                {% endif %}
                            </div>  

                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-muted">
                                No exams created
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% comment %} <div>
    <a href = "{%url 'upload_question' exam.id %}"
</div> {% endcomment %}


{% endblock %}
