{% extends "base.html" %}

 {% block title %}Take Exam{% endblock %} 

 {% block content %}

<div class="alert alert-info d-flex justify-content-between align-items-center">
  <strong>Time Remaining:</strong>
  <span id="timer" class="fw-bold text-danger"></span>
</div>

<div class="row mb-4">
  <div class="col">
    <h3 class="fw-bold">{{ submission.exam.title }}</h3>
    <p class="text-muted">Set {{ submission.exam_set.set_code }}</p>
  </div>
</div>

<form method="post">
  {% csrf_token %}
   {% for sq in set_questions %}
  <div class="card mb-3 shadow-sm">
    <div class="card-body">
      <p class="fw-semibold">
        {{ forloop.counter }}. {{ sq.question.question_text }}
      </p>

      <div class="form-check border rounded p-2 mb-2 option-hover">
        <input
          class="form-check-input"
          type="radio"
          name="question_{{ sq.question.id }}"
          value="A"
          id="q{{ sq.question.id }}_A"
        />
        {% if already_submitted or remaining_seconds <= 0 %} disabled {% endif %}
        <label class="form-check-label fw-medium" for="q{{ sq.question.id }}_A">
          {{ sq.question.option_a }}
        </label>
      </div>

      <div class="form-check border rounded p-2 mb-2 option-hover">
        <input
          class="form-check-input"
          type="radio"
          name="question_{{ sq.question.id }}"
          value="B"
          id="q{{ sq.question.id }}_B"
        />
        {% if already_submitted or remaining_seconds <= 0 %} disabled {% endif %}
        <label class="form-check-label fw-medium" for="q{{ sq.question.id }}_B">
          {{ sq.question.option_b }}
        </label>
      </div>

      <div class="form-check border rounded p-2 mb-2 option-hover">
        <input
          class="form-check-input"
          type="radio"
          name="question_{{ sq.question.id }}"
          value="C"
          id="q{{ sq.question.id }}_C"
        />
        {% if already_submitted or remaining_seconds <= 0 %} disabled {% endif %}
        <label class="form-check-label fw-medium" for="q{{ sq.question.id }}_C">
          {{ sq.question.option_c }}
        </label>
      </div>

      <div class="form-check border rounded p-2 mb-2 option-hover">
        <input
          class="form-check-input"
          type="radio"
          name="question_{{ sq.question.id }}"
          value="D"
          id="q{{ sq.question.id }}_D"
        />
        {% if already_submitted or remaining_seconds <= 0 %}
         disabled 
        {% endif %}
        <label class="form-check-label fw-medium" for="q{{ sq.question.id }}_D">
          {{ sq.question.option_d }}
        </label>
      </div>
    </div>
  </div>

{% endfor %} 
  
{% if not already_submitted and remaining_seconds > 0 %}

  <div class="d-flex justify-content-end mt-4">
    <button type="submit" class="btn btn-success btn-lg">
        Submit Exam
    </button>
  </div>

  {% else %}

  <div class="alert alert-secondary text-center mt-4">
    Exam submitted. Answers are locked.
  </div>

  {% endif %}

</form>
{% endblock %}

{% block extra_js %}

<script>

    let remaining = {{ remaining_seconds }};

  function updateTimer() {
      if (remaining <= 0) {
          document.querySelector('form').submit();
          return;
      }

      let minutes = Math.floor(remaining / 60);
      let seconds = remaining % 60;

      document.getElementById('timer').innerText =
          minutes + ":" + String(seconds).padStart(2, '0');

      remaining--;
  }

  setInterval(updateTimer, 1000);
  updateTimer();
</script>

{% endblock %}
